@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Medium"), local("Muller-Medium"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller Light"), local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller Ultra Light"), local("Muller-Ultra-Light"), url("../fonts/MullerUltraLight.woff2") format("woff2"), url("../fonts/MullerUltraLight.woff") format("woff"), url("../fonts/MullerUltraLight.ttf") format("truetype");
  font-weight: 250;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Muller";
  font-style: normal;
  color: #353535;
}

.wrapper {
  display: grid;
  margin: auto;
  grid-template: 67px 1fr auto/minmax(0, 1fr) minmax(280px, 1920px) minmax(0, 1fr);
  grid-template-areas: "header" "main" "footer";
}

.burger__nav > a,
.header__menu,
main,
footer {
  border-left: 0.5px solid #D9D9D9;
  border-right: 0.5px solid #D9D9D9;
}

.header {
  display: grid;
  grid-template: 67px/minmax(0, 1fr) minmax(240px, 1920px) minmax(0, 1fr);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}
.header__body {
  grid-area: header;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  height: 67px;
  border-bottom: 0.5px solid #D9D9D9;
}
.header__logo {
  padding: 18.27px 0 10.66px 24px;
}
.header__logo img {
  max-width: 121px;
}
.header__menu {
  display: none;
}
.header__location {
  display: none;
}
.header__contacts {
  display: none;
}
.header .burger {
  position: relative;
  width: 100%;
}
.header #check-menu {
  display: none;
}
.header .burger__label {
  display: block;
  position: absolute;
  top: 13px;
  right: 24px;
  cursor: pointer;
  z-index: 2;
  width: 34px;
  height: 34px;
}
.header .burger__line {
  position: absolute;
  width: 34px;
  height: 2.5px;
  top: 19.05px;
  right: 24px;
  background-color: #BB3024;
  border-radius: 2px;
  transition: 0.5s all;
}
.header .burger__line_position-2,
.header .burger__line_position-3 {
  top: 28.75px;
}
.header .burger__line_position-4 {
  width: 17px;
  top: 38.45px;
  right: 41px;
}
.header .burger__nav {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(240px, 1280px) minmax(20px, 1fr);
  position: fixed;
  width: 100%;
  top: -282px;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
  background-color: #fff;
}
.header .burger__nav a {
  grid-column: 2/3;
  display: block;
  width: 100%;
  padding-top: 58px;
  text-decoration: none;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.header .burger__nav a:nth-last-child(1) {
  padding-bottom: 68px;
  border-bottom: 0.5px solid #D9D9D9;
}
.header #check-menu:checked ~ .burger__nav {
  max-height: 500px;
}
.header #check-menu:checked ~ .burger__line_position-1 {
  display: none;
}
.header #check-menu:checked ~ .burger__line_position-2 {
  transform: rotate(45deg);
}
.header #check-menu:checked ~ .burger__line_position-3 {
  transform: rotate(-45deg);
}
.header #check-menu:checked ~ .burger__line_position-4 {
  display: none;
}

.content {
  grid-area: main;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr minmax(280px, 1530px) 1fr;
}
.content__present {
  grid-column: 2/4;
}
.content__catalog-links {
  grid-column: 2;
}
.content__certification {
  grid-column: 1/4;
}
.content__collection {
  grid-column: 2/3;
}
.content__shoppers {
  grid-column: 2/3;
}
.content__perfume {
  grid-column: 1/4;
}
.content__sewing {
  grid-column: 2/3;
}
.content__cooperation {
  grid-column: 1/4;
}

.present {
  display: grid;
  grid-template-rows: repeat(auto-fit, 502px 212px 196px);
  grid-template-columns: repeat(auto-fill, minmax(auto, 520px) minmax(auto, 335px) minmax(auto, 335px) minmax(auto, 340px));
}
.present__info {
  grid-area: 1/1/3/2;
}
.present__info h1 {
  font-weight: 250;
  font-size: 55px;
  line-height: 140%;
  text-transform: uppercase;
  margin-top: 183px;
  margin-bottom: 15px;
}
.present__info h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #BB3024;
  margin-bottom: 41px;
}
.present__info-pass {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}
.present__info-pass p {
  max-width: 160px;
  width: 100%;
}
.present__image-one {
  grid-area: 1/2/3/6;
}
.present__image-map {
  grid-area: 3/1;
}
.present__image-two, .present__image-three, .present__image-four {
  display: grid;
  align-items: end;
  background-color: #fff;
  padding: 35px 30px 0 0;
}
.present__image-two {
  grid-area: 2/2/4/3;
}
.present__image-three {
  grid-area: 2/3/4/4;
}
.present__image-four {
  grid-area: 2/4/4/5;
  position: relative;
}
.present__image-four::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 373px;
  border-right: 0.5px solid #D9D9D9;
}

.pass {
  width: 398px;
  height: 124px;
  background: #FBFBFB;
  border: 0.7px solid #D9D9D9;
  border-radius: 87px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: 46px;
  padding-right: 33px;
  justify-content: space-between;
}
.pass button {
  width: 76px;
  height: 76px;
  background: #BB3024;
  border: 1px solid #BB3024;
  border-radius: 87px;
  cursor: pointer;
}
.pass button .btn__line {
  background-color: #FFFFFF;
  width: 25.29px;
  height: 1px;
  margin: 0 auto;
}
.pass button .btn__line_position-one {
  transform: rotate(45deg);
  margin-bottom: 16.3px;
}
.pass button .btn__line_position-two {
  transform: rotate(-45deg);
  margin-top: 16.3px;
}

.catalog-links__general {
  padding: 26px 0px 35px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  justify-items: end;
}
.catalog-links__general h2 {
  font-weight: 250;
  font-size: 36px;
  line-height: 50.4px;
  font-size: calc((100vw - 428px) / 1492 * 19 + 36px);
  text-transform: uppercase;
}
.catalog-links__general a {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  text-transform: uppercase;
  color: #BB3024;
  width: 98px;
  text-decoration: none;
  border-bottom: 1px solid #BB3024;
  text-align: center;
}
.catalog-links__general-mens {
  position: relative;
  grid-column: 1;
  padding-left: 20%;
  max-height: 400px;
}
.catalog-links__general-mens h2 {
  position: absolute;
  top: 45px;
  left: 0px;
}
.catalog-links__general-mens a {
  position: absolute;
  top: 116px;
  left: 0px;
}
.catalog-links__general-womens {
  position: relative;
  grid-column: 1;
  padding-right: 20%;
  max-height: 400px;
  justify-self: start;
}
.catalog-links__general-womens h2 {
  position: absolute;
  top: 45px;
  right: 0px;
}
.catalog-links__general-womens a {
  position: absolute;
  top: 116px;
  right: 0px;
}
.catalog-links__general .wrapper-img__general {
  max-width: 325px;
  min-width: 220px;
  width: 100%;
}
.catalog-links__brands-wrp {
  display: grid;
  grid-template-columns: 5px minmax(auto, 508px) 5px;
}
.catalog-links__brands-title {
  font-weight: 250;
  font-size: 36px;
  line-height: 50.4px;
  text-transform: uppercase;
  grid-column: 2/3;
  margin-bottom: 34px;
}
.catalog-links__brands {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  -moz-column-gap: 3px;
       column-gap: 3px;
  justify-content: center;
  overflow: hidden;
}
.catalog-links__brands_item-one {
  position: relative;
  min-width: 508px;
}
.catalog-links__brands_item-one .wrapper-img__brands-title {
  position: absolute;
  top: 110px;
  left: 126px;
  padding-top: 26.9230769231%;
  max-width: 260px;
}
.catalog-links__brands_item-one a {
  position: absolute;
  top: 198px;
  left: 217px;
}
.catalog-links__brands_item-two {
  position: relative;
  min-width: 508px;
}
.catalog-links__brands_item-two .wrapper-img__brands-title {
  position: absolute;
  top: 88px;
  left: 131px;
  padding-top: 37.6306620209%;
  max-width: 287px;
}
.catalog-links__brands_item-two a {
  position: absolute;
  top: 198px;
  left: 217px;
}
.catalog-links__brands_item-three {
  position: relative;
  min-width: 508px;
}
.catalog-links__brands_item-three .wrapper-img__brands-title {
  position: absolute;
  top: 76px;
  left: 154px;
  padding-top: 57.5%;
  max-width: 200px;
}
.catalog-links__brands_item-three a {
  position: absolute;
  top: 198px;
  left: 217px;
}
.catalog-links__brands_item-four {
  position: relative;
  min-width: 508px;
}
.catalog-links__brands_item-four .wrapper-img__brands-title {
  position: absolute;
  top: 78px;
  left: 113px;
  padding-top: 44.6808510638%;
  max-width: 282px;
}
.catalog-links__brands_item-four a {
  position: absolute;
  top: 217px;
  left: 209px;
}
.catalog-links__brands_item-five {
  position: relative;
  min-width: 508px;
}
.catalog-links__brands_item-five .wrapper-img__brands-title {
  position: absolute;
  top: 116px;
  left: 135px;
  padding-top: 42.4489795918%;
  max-width: 245px;
}
.catalog-links__brands_item-five a {
  position: absolute;
  top: 217px;
  left: 209px;
}
.catalog-links__brands_item-six {
  position: relative;
  min-width: 508px;
}
.catalog-links__brands_item-six .wrapper-img__brands-title {
  position: absolute;
  top: 119px;
  left: 79px;
  padding-top: 26.5714285714%;
  max-width: 350px;
}
.catalog-links__brands_item-six a {
  position: absolute;
  top: 217px;
  left: 209px;
}
.catalog-links__brands a {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  width: 98px;
  border-bottom: 1px solid #FFFFFF;
  text-align: center;
}
.catalog-links__brands-btn {
  grid-column: 2/3;
  width: 100%;
  text-align: center;
  padding: 57px 0px 75px 0px;
}
.catalog-links__brands-btn button {
  max-width: 337px;
  width: 100%;
  height: 85px;
  background-color: #FBFBFB;
  border: 0.7px solid #D9D9D9;
  border-radius: 87px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  cursor: pointer;
}

.certification {
  display: grid;
  grid-template-columns: 5px minmax(auto, 380px) 5px;
  grid-template-rows: minmax(auto, 1fr) minmax(auto, 48px) minmax(auto, 76px);
  max-height: 691px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.certification .wrapper-img__certification {
  background: #353535;
  z-index: -1;
  grid-area: 1/2/3/3;
}
.certification .wrapper-img__certification img {
  opacity: 0.6;
}
.certification__info {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  max-width: 348px;
  width: 100%;
  margin: 0 auto;
  padding: 34px 0px 15px 0px;
  text-align: center;
}
.certification__info p:first-child {
  font-weight: 250;
  font-size: 24px;
  line-height: 33.6px;
  color: #fff;
  text-transform: uppercase;
}
.certification__info p:first-child span {
  display: none;
}
.certification__info h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 33.6px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.certification__info p:last-child {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  max-width: 336px;
}
.certification__pass {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  grid-area: 2/2/4/3;
  max-width: 380px;
  width: 100%;
}
.certification__pass p {
  max-width: 104px;
  width: 100%;
}

.collection {
  margin-bottom: 116px;
}
.collection__header {
  width: 100%;
  margin-bottom: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection__header h2 {
  font-weight: 250;
  font-size: 55px;
  line-height: 77px;
  text-transform: uppercase;
}
.collection__header a {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  text-transform: uppercase;
  color: #BB3024;
  width: 168px;
  text-decoration: none;
  border-bottom: 1px solid #BB3024;
  text-align: center;
  height: 27px;
}
.collection__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 420px));
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.collection__item {
  display: grid;
  grid-template: auto 1fr/1fr;
}
.collection__item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  margin-top: 50px;
  text-decoration: none;
  text-align: center;
}
.collection__item-name_bold {
  text-transform: uppercase;
  font-weight: 700;
}

.shoppers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 359px));
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 81px;
}
.shoppers__item {
  position: relative;
  display: flex;
  align-items: center;
}
.shoppers__item h3 {
  font-weight: 250;
  font-size: 55px;
  line-height: 77px;
  text-transform: uppercase;
}
.shoppers__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  max-width: 260px;
  width: 100%;
  height: 144px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 0px 50px 0px 0px;
  padding: 20px 20px 28px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shoppers__info h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.perfume {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
}
.perfume__item {
  flex: 0 1 50%;
  position: relative;
  width: 100%;
}
.perfume__item button {
  max-width: 181px;
  width: 100%;
  height: 64px;
  background-color: transparent;
  border-radius: 87px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  text-transform: uppercase;
  cursor: pointer;
}
.perfume__pass-perfume {
  position: absolute;
  top: 9%;
  right: 12%;
  color: #fff;
  border: 0.7px solid #fff;
}
.perfume__pass-topsmell {
  position: absolute;
  top: 9%;
  left: 11%;
  color: #333333;
  border: 0.7px solid #333333;
}
.perfume__info-left, .perfume__info-right {
  position: absolute;
  bottom: 9.5%;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.perfume__info-left h4, .perfume__info-right h4 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  font-size: calc((100vw - 420px) / 1500 * 11 + 24px);
  color: #fff;
}
.perfume__info-left a, .perfume__info-right a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  text-transform: uppercase;
  color: #fff;
  height: 33px;
  width: 147px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.perfume__info-left {
  right: 12%;
  align-items: flex-end;
}
.perfume__info-left h4 {
  text-align: end;
}
.perfume__info-right {
  left: 12%;
  align-items: flex-start;
}
.perfume__info-right h4 {
  text-align: start;
}

.sewing {
  display: flex;
  flex-direction: column;
  max-width: 601px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 41px;
}
.sewing__info {
  padding: 19px 5px 0px 5px;
}
.sewing__title {
  font-weight: 250;
  font-size: 36px;
  line-height: 50.4px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 25px;
}
.sewing__title_red {
  color: #BB3024;
}
.sewing__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  padding-bottom: 15px;
  min-width: 270px;
  width: 100%;
}
.sewing__text_bold {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}
.sewing .wrapper-img__sewing {
  max-width: 601px;
  width: 100%;
  margin: 0 auto;
}
.sewing__benefits {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
  text-transform: uppercase;
  padding: 0px 5px;
}
.sewing__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 0px 47px 0px;
  row-gap: 25px;
}
.sewing__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.sewing__item_bold {
  font-weight: 500;
}
.sewing__item div {
  flex: 0 0 40%;
  display: flex;
  justify-content: flex-end;
}
.sewing__item p {
  margin-right: 10px;
}
.sewing__item:nth-child(1) {
  width: 100%;
}
.sewing__item:nth-child(1) p {
  max-width: 150px;
  width: 100%;
}
.sewing__item:nth-child(2) {
  width: 100%;
}
.sewing__item:nth-child(2) p {
  max-width: 163px;
  width: 100%;
}
.sewing__item:nth-child(3) {
  width: 100%;
}
.sewing__item:nth-child(3) p {
  max-width: 213px;
  width: 100%;
}
.sewing__icon {
  max-height: 85px;
  height: 100%;
  margin-left: 10px;
}
.sewing__icon_small {
  max-height: 75px;
  height: 100%;
  margin-left: 10px;
}
.sewing__pass {
  max-width: 384px;
  min-width: 270px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
}

.cooperation {
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.7px solid #D9D9D9;
  padding: 0px 5px;
}
.cooperation__info {
  padding: 55px 19px 43px 19px;
  max-width: 601px;
  width: 100%;
}
.cooperation__title {
  font-weight: 250;
  font-size: 24px;
  line-height: 33.6px;
  text-transform: uppercase;
  padding-bottom: 23px;
  text-align: center;
}
.cooperation__title_bold {
  font-weight: 500;
}
.cooperation__subtitle {
  color: #BB3024;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 41px;
  text-align: center;
}
.cooperation__subtitle_bold {
  color: #BB3024;
  font-weight: 500;
}
.cooperation__list {
  display: flex;
  row-gap: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  flex-direction: column;
  align-items: center;
}
.cooperation__item {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
  max-width: 390px;
  width: 100%;
}
.cooperation__item img {
  max-width: 39px;
  width: 100%;
  align-self: flex-start;
}
.cooperation__item p {
  align-self: center;
}
.cooperation__pass {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  max-width: 380px;
  min-width: 270px;
  width: 100%;
}
.cooperation__img {
  margin-top: 20px;
  max-width: 601px;
  width: 100%;
}

.wrapper-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.wrapper-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-img__present-one {
  padding-top: 59.2531120332%;
  max-width: 1205px;
  z-index: -1;
}
.wrapper-img__present-map {
  padding-top: 37.6923076923%;
  max-width: 520px;
}
.wrapper-img__present-two, .wrapper-img__present-three, .wrapper-img__present-four {
  padding-top: 122.2950819672%;
  max-width: 305px;
}
.wrapper-img__general {
  padding-top: 96.6153846154%;
  max-width: 650px;
  z-index: -1;
}
.wrapper-img__brands {
  padding-top: 68.5039370079%;
  max-width: 508px;
}
.wrapper-img__certification {
  padding-top: 161.8421052632%;
  max-width: 380px;
}
.wrapper-img__collection {
  padding-top: 127.1428571429%;
  max-width: 420px;
}
.wrapper-img__shoppers {
  padding-top: 141.504178273%;
  max-width: 359px;
}
.wrapper-img__perfume {
  padding-top: 83.8541666667%;
  max-width: 960px;
}
.wrapper-img__sewing {
  padding-top: 62.9018961253%;
  max-width: 1213px;
}
.wrapper-img__cooperation {
  padding-top: 73.6416184971%;
}

.footer {
  border-top: 0.5px solid #D9D9D9;
  grid-area: footer;
  grid-column: 2/3;
}
.footer__logo {
  padding: 32px 0px 18px 0px;
  text-align: center;
}
.footer__list {
  display: none;
}
.footer__communication {
  text-align: center;
}
.footer__location-img {
  padding-bottom: 11px;
}
.footer__location-text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
}
.footer__location-text a {
  display: block;
  color: #BB3024;
  font-weight: 300;
  font-size: 11px;
  line-height: 35px;
}
.footer__contacts {
  padding: 28px 0px 38px 0px;
}
.footer__contacts-link {
  cursor: pointer;
  margin-right: 13px;
}
.footer__contacts-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
}
.footer__contacts-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}
.footer__contacts-text_bold {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

@media screen and (min-width: 420px) {
  .catalog-links__general-mens {
    padding-left: 15%;
  }
  .catalog-links__general-womens {
    padding-right: 15%;
  }
  .catalog-links__general .wrapper-img__general {
    max-width: 413px;
    min-width: 325px;
    width: 100%;
  }
  .catalog-links__brands-wrp {
    grid-template-columns: 24px minmax(320px, 508px) 24px;
  }
}
@media screen and (min-width: 430px) {
  .certification {
    grid-template-columns: 24px minmax(auto, 380px) 24px;
  }
  .sewing__info {
    padding: 19px 24px 0px 24px;
  }
}
@media screen and (min-width: 555px) {
  .catalog-links__general {
    grid-template-columns: 1fr 508px 1fr;
  }
  .catalog-links__general-mens, .catalog-links__general-womens {
    grid-column: 2/3;
  }
  .catalog-links__brands-wrp {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media screen and (min-width: 601px) {
  .perfume {
    align-items: center;
  }
  .perfume__item {
    max-width: 601px;
  }
}
@media screen and (min-width: 830px) {
  .certification {
    max-height: 478px;
    margin-bottom: 50px;
    grid-template-columns: minmax(auto, 1920px);
    grid-template-rows: minmax(auto, 354px) minmax(auto, 62px) minmax(auto, 62px);
  }
  .certification .wrapper-img__certification {
    grid-area: 1/1/3/2;
    padding-top: 21.6666666667%;
    max-width: 1920px;
    height: 416px;
  }
  .certification .wrapper-img__certification img {
    height: 100%;
  }
  .certification__info {
    grid-area: 1/1/2/2;
    margin-left: 51%;
    text-align: left;
  }
  .certification__info p:first-child {
    font-size: calc((100vw - 830px) / 1090 * 11 + 24px);
  }
  .certification__info h3 {
    font-size: calc((100vw - 830px) / 1090 * 11 + 24px);
  }
  .certification__pass {
    grid-area: 2/1/4/2;
    margin-left: 51%;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 51px 0px 51px;
    max-height: 774px;
  }
  .footer__communication {
    display: flex;
    text-align: start;
    padding-left: 26px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .footer__location {
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding: 20px 0px 0px 0px;
    align-items: flex-start;
  }
  .footer__location-img {
    padding-top: 19px;
  }
  .footer__location-text {
    max-width: 286px;
  }
  .footer__location-text br {
    display: none;
  }
  .footer__contacts {
    padding-top: 13px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-columns: minmax(20px, 1fr) minmax(240px, 1920px) minmax(20px, 1fr);
  }
  .header {
    grid-template-columns: minmax(20px, 1fr) minmax(240px, 1920px) minmax(20px, 1fr);
  }
  .header__body {
    border-left: 0.5px solid #D9D9D9;
    border-right: 0.5px solid #D9D9D9;
  }
}
@media screen and (min-width: 1097px) {
  .catalog-links__general {
    grid-template-columns: 24px 0.5fr 0.5fr 24px;
    grid-template-rows: 1fr;
    padding: 106px 0px 40px 0px;
  }
  .catalog-links__general h2 {
    top: 93px;
  }
  .catalog-links__general a {
    top: 185px;
  }
  .catalog-links__general-mens {
    grid-column: 2/3;
    max-height: 628px;
    width: 100%;
  }
  .catalog-links__general-womens {
    grid-column: 3/4;
    max-height: 628px;
    width: 100%;
  }
  .catalog-links .wrapper-img__general {
    max-width: 650px;
  }
  .catalog-links__brands-title {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    grid-template-rows: 103px 1fr 135px;
  }
  .header {
    grid-template: 103px/minmax(20px, 1fr) minmax(240px, 1920px) minmax(20px, 1fr);
  }
  .header__body {
    height: 103px;
    display: grid;
    grid-template: 100%/minmax(280px, 424px) 913px 1fr;
  }
  .header__logo {
    padding: 0 51px 15px 24px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .header__logo img {
    max-width: 178px;
  }
  .header__menu {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    text-transform: uppercase;
    margin-right: 30px;
  }
  .header__list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr/160px 183px 215px 167px 157.5px;
    align-items: center;
  }
  .header__item {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
  }
  .header__item:nth-child(-n+4) {
    border-right: 0.5px solid #D9D9D9;
  }
  .header__link {
    text-decoration: none;
  }
  .burger {
    display: none;
  }
  .catalog-links__brands-wrp {
    grid-template-columns: 1fr;
  }
  .certification__info {
    max-width: 550px;
  }
  .certification__info p:first-child {
    line-height: 49px;
  }
  .certification__info p:first-child span {
    display: inline-block;
    font-size: inherit;
    color: inherit;
  }
  .certification__info h3 {
    line-height: 49px;
  }
  .certification__info p:last-child {
    max-width: 550px;
  }
  .perfume {
    flex-direction: row;
  }
  .perfume__item {
    max-width: 960px;
  }
  .perfume__info-left, .perfume__info-right {
    max-width: 391px;
    row-gap: 40px;
  }
  .sewing {
    display: grid;
    grid-template-rows: minmax(auto, 27px) minmax(auto, 640px) minmax(auto, 96px) minmax(auto, 96px);
    grid-template-columns: minmax(auto, 303px) minmax(auto, 356px) minmax(auto, 387px) minmax(auto, 384px) 1fr;
    max-width: 1530px;
    position: relative;
    margin-bottom: 100px;
  }
  .sewing__info {
    grid-area: 2/1/4/6;
    background-color: #FBFBFB;
    border-top: 0.7px solid #D9D9D9;
    border-bottom: 0.7px solid #D9D9D9;
    z-index: -1;
    padding: 93px 0px 0px 50px;
  }
  .sewing__title {
    font-size: calc((100vw - 1280px) / 640 * 19 + 36px);
    line-height: 77px;
    max-width: 450px;
    margin-bottom: 15px;
  }
  .sewing__text {
    font-size: calc((100vw - 1280px) / 640 * 5 + 15px);
    line-height: 28px;
    max-width: 350px;
  }
  .sewing__text_bold {
    font-size: calc((100vw - 1280px) / 640 * 5 + 15px);
    line-height: 28px;
  }
  .sewing .wrapper-img__sewing {
    max-width: 790px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .sewing__benefits {
    grid-area: 3/1/5/5;
    background-color: #fff;
    flex-direction: row;
    z-index: 2;
  }
  .sewing__list {
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    row-gap: 0px;
    max-width: 1046px;
    width: 100%;
    border-top: 0.5px solid #D9D9D9;
    border-bottom: 0.5px solid #D9D9D9;
  }
  .sewing__item {
    height: 100%;
    justify-content: center;
  }
  .sewing__item div {
    flex: 0 0 auto;
  }
  .sewing__item:nth-child(1) {
    max-width: 303px;
    border-right: 0.5px solid #D9D9D9;
  }
  .sewing__item:nth-child(2) {
    max-width: 356px;
    border-right: 0.5px solid #D9D9D9;
  }
  .sewing__item:nth-child(3) {
    max-width: 387px;
  }
  .sewing__pass {
    height: 100%;
    background-color: #BB3024;
    -moz-column-gap: 35px;
         column-gap: 35px;
    justify-content: center;
    color: #fff;
    border-radius: 0;
    border: 0;
  }
  .sewing__pass button {
    background-color: #fff;
  }
  .sewing__pass button .btn__line {
    background-color: #BB3024;
  }
  .cooperation {
    position: relative;
    height: 990px;
    display: grid;
    grid-template: minmax(auto, 47px) minmax(auto, 222px) minmax(auto, 443px) minmax(auto, 62px) minmax(auto, 62px) minmax(auto, 154px)/1fr minmax(auto, 520px) minmax(50px, 523px) minmax(50px, 398px) minmax(20px, 89px) 1fr;
    border-top: 0;
    padding: 0;
  }
  .cooperation__info {
    grid-area: 2/3/5/6;
    border: 0.7px solid #D9D9D9;
    border-right: 0;
    background-color: #fff;
    padding: 88px 34px 142px 50px;
    max-width: 1010px;
  }
  .cooperation__title {
    font-size: calc((100vw - 1280px) / 640 * 11 + 24px);
    line-height: 49px;
    text-align: start;
    padding-bottom: 17px;
  }
  .cooperation__subtitle {
    text-align: start;
    padding-bottom: 34px;
  }
  .cooperation__list {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 19px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 320px;
    height: 100%;
  }
  .cooperation__item {
    -moz-column-gap: 37px;
         column-gap: 37px;
  }
  .cooperation__pass {
    grid-area: 4/4/6/5;
    max-width: 398px;
    width: 100%;
  }
  .cooperation__img {
    grid-area: 3/2/7/4;
    align-self: end;
    margin-top: 0;
    max-width: 865px;
    width: 100%;
  }
}
@media screen and (min-width: 1430px) {
  .sewing__title {
    max-width: 600px;
  }
  .sewing__text {
    max-width: 496px;
  }
}
@media screen and (min-width: 1490px) {
  .sewing .wrapper-img__sewing {
    max-width: 865px;
  }
}
@media screen and (min-width: 1570px) {
  .sewing__info {
    padding: 93px 0px 0px 100px;
    border: 0.7px solid #D9D9D9;
  }
  .sewing__list {
    border: 0.7px solid #D9D9D9;
    border-right: 0;
  }
}
@media screen and (min-width: 1610px) {
  .catalog-links__general {
    grid-template-columns: 42px 0.5fr 0.5fr 48px;
    border-right: 0.5px solid #D9D9D9;
    border-left: 0.5px solid #D9D9D9;
  }
  .catalog-links__general h2 {
    font-size: 55px;
  }
  .catalog-links__general-mens {
    grid-column: 2/3;
  }
  .catalog-links__general-womens {
    grid-column: 3/4;
  }
  .cooperation__info {
    border-right: 0.7px solid #D9D9D9;
  }
}
@media screen and (min-width: 1630px) {
  .header__body {
    grid-template-columns: 424px 725px minmax(auto, 388px) minmax(auto, 383px);
  }
  .header__menu {
    margin-right: 0;
  }
  .header__list {
    grid-template: 1fr/160px 183px 215px 167px;
  }
  .header__list li:nth-last-child(1) {
    display: none;
  }
  .header__item:nth-child(4) {
    border-right: 0;
  }
  .header__location {
    grid-column: 3/4;
    display: grid;
    grid-auto-flow: column;
    -moz-column-gap: 27px;
         column-gap: 27px;
    max-width: 344px;
    justify-self: end;
    padding-top: 20px;
  }
  .header__location-img {
    padding-top: 19px;
    padding-left: 10px;
  }
  .header__location-text {
    max-width: 286px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    padding-right: 10px;
  }
  .header__location-text a {
    color: #BB3024;
    font-weight: 300;
    font-size: 11px;
    line-height: 35px;
  }
  .header__contacts {
    display: block;
    grid-column: 4/5;
    padding-top: 25px;
  }
  .header__contacts p:nth-child(1) {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 4px;
  }
  .header__contacts p:nth-child(2) {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
  }
  .header__contacts-link {
    cursor: pointer;
    margin-right: 13px;
  }
  .certification__info {
    max-width: 750px;
  }
  .certification__info p:first-child {
    font-size: 35px;
  }
  .certification__info h3 {
    font-size: 35px;
  }
  .certification__info p:last-child {
    max-width: 750px;
  }
  .footer {
    display: grid;
    grid-template-columns: minmax(51px, 1fr) 229px 681px 620px minmax(51px, 1fr);
  }
  .footer__logo {
    padding: 32px 51px 0px 0px;
    grid-column: 2/3;
    border-right: 0.5px solid #D9D9D9;
  }
  .footer__list {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 189px 251px 241px;
  }
  .footer__item {
    height: 100%;
    border-right: 0.5px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 47px;
  }
  .footer__link {
    text-decoration: none;
  }
}
@media screen and (min-width: 1920px) {
  .sewing__title {
    font-size: 55px;
  }
  .sewing__text {
    font-size: 20px;
  }
  .sewing__text_bold {
    font-size: 20px;
  }
  .cooperation__title {
    font-size: 35px;
  }
}/*# sourceMappingURL=style.css.map */