@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import 'fonts.scss';

@mixin fontz ($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@function strip-unit($number) {
    @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

    $k: ($f-max - $f-min)/($w-max - $w-min);
    $b: $f-min - $k * $w-min;

    $b: $b + $units;

    @return calc(#{$k} * 100vw + #{$b});
}

@function calcFluidLineHeight($lh-min, $lh-max, $w-min, $w-max, $units: px) {
    $lh-min: strip-unit($lh-min);
    $lh-max: strip-unit($lh-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

    $k: ($lh-max - $lh-min)/($w-max - $w-min);
    $b: $lh-min - $k * $w-min;

    $b: $b + $units;

    @return calc(#{$k} * 100vw + #{$b});
}

@mixin fluidFont($f-min, $f-max, $lh-min, $lh-max, $w-min, $w-max, $fallback: false) {

    font-size: $f-min;
    line-height: $lh-min;

    @media (min-width: $w-min) {
        @if ($fallback) {
            font-size: $fallback;
        }

        font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max);
        line-height: calcFluidLineHeight($lh-min, $lh-max, $w-min, $w-max);
    }

    @media (min-width: $w-max) {
        font-size: $f-max;
        line-height: $lh-max;
    }

}

// Общие стили
* {
    box-sizing: border-box;
    font-family: 'Muller';
    font-style: normal;
    color: #353535;
}

:root {
    color-scheme: only light;
}

.wrapper {
    display: grid;
    margin: auto;
    grid-template: 67px 1fr auto / minmax(0, 1fr) minmax(280px, 1920px) minmax(0, 1fr);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

a:hover {
    opacity: 0.6;
}

.header__menu {
    border-left: 0.5px solid #D9D9D9;
    border-right: 0.5px solid #D9D9D9;
}

// Стили для header
.header {
    display: grid;
    grid-template: 67px / minmax(0, 1fr) minmax(240px, 1920px) minmax(0, 1fr);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;

    &__body {
        grid-area: header;
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        height: 67px;
        border-bottom: 0.5px solid #D9D9D9;
    }

    // ЛОГОТИП
    &__logo {
        padding: 18.27px 0 10.66px 24px;

        img {
            max-width: 121px;
        }
    }

    &__menu {
        display: none;
    }

    &__location {
        display: none;
    }

    &__contacts {
        display: none;
    }

    // Бургер
    .burger {
        position: relative;
        width: 100%;

        &__label {
            display: block;
            position: absolute;
            top: 13px;
            right: 24px;
            cursor: pointer;
            z-index: 2;
            width: 34px;
            height: 34px;
        }

        &__line {
            position: absolute;
            width: 34px;
            height: 2.5px;
            top: 19.05px;
            right: 24px;
            background-color: #BB3024;
            border-radius: 2px;
            transition: 0.5s all;
        }

        &__line_position-2,
        &__line_position-3 {
            top: 28.75px;
        }

        &__line_position-4 {
            width: 17px;
            top: 38.45px;
            right: 41px;
        }

        &-nav {
            display: grid;
            grid-template-columns: minmax(240px, 1280px);
            position: fixed;
            width: 100%;
            top: -634px;
            left: 0;
            transform: translateY(100%);
            height: 0;
            font-size: 0;
            overflow: hidden;
            transition: 0.5s all;
            background-color: #fff;
            z-index: 6;

            .header__link {
                display: block;
                width: 100%;
                padding-top: 58px;
                text-decoration: none;
                padding-left: 24px;
                font-weight: 400;
                @include fluidFont(12px, 16px, 12px, 16px, 450px, 1280px, 12px);
                text-transform: uppercase;

            }

            a:nth-last-child(2) {
                padding-bottom: 68px;
                border-bottom: 0.5px solid #D9D9D9;
            }

            &__info {
                display: flex;
                justify-content: space-between;
                column-gap: 24px;
                padding: 30px 24px 60px 24px;
                border-bottom: 0.5px solid #D9D9D9;
            }

            &__location {
                min-width: 178px;
                width: 100%;

                &-img {
                    width: 34px;
                    height: 34px;
                }

                &-text {
                    @include fontz(400, 13px, 18.2px);
                    padding-right: 10px;

                    button {
                        color: #BB3024;
                        @include fontz(300, 11px, 15.4px);
                        border-bottom: 1px solid #BB3024;
                        background: none;
                        padding: 10px 0px 0px 0px;
                        cursor: pointer;

                        &:hover {
                            @include fontz(400, 13px, 18.2px);
                        }
                    }
                }
            }

            &__contacts {
                max-width: 178px;
                width: 100%;

                &-link {
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    margin-right: 13px;
                    fill: #BB3024;
                }

                a {
                    text-decoration: none;
                    opacity: 1;
                }

                a:nth-child(1) {
                    svg:hover {
                        fill: #3b5998;
                    }
                }

                a:nth-child(2) {
                    svg:hover {
                        fill: #E4405F;
                    }
                }

                a:nth-child(3) {
                    svg:hover {
                        fill: #08c;
                    }
                }

                p:nth-child(4) {
                    @include fontz(400, 16px, 16px);
                    margin: 14px 0px 7px 0px;
                }

                p:nth-child(5) {
                    @include fontz(300, 12px, 12px);
                }
            }
        }

    }

    #check-menu {
        display: none;
    }

    #check-menu:checked~.burger-nav {
        height: 700px;
    }

    #check-menu:checked~.burger__line_position-1 {
        display: none;
    }

    #check-menu:checked~.burger__line_position-2 {
        transform: rotate(45deg);
    }

    #check-menu:checked~.burger__line_position-3 {
        transform: rotate(-45deg);
    }

    #check-menu:checked~.burger__line_position-4 {
        display: none;
    }
}

// --------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------
// Стили для main контента - распределение секций по грид сетке
.content {
    grid-area: main;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(280px, 1530px) minmax(20px, 1fr);

    &__present {
        grid-column: 1/4;
    }

    &__catalog {
        grid-column: 1/4;
    }

    &__catalog-brands {
        grid-column: 2/3;
    }

    &__certification {
        grid-column: 2;
    }

    &__collection {
        grid-column: 2/3;
    }

    &__shoppers {
        grid-column: 2/3;
    }

    &__perfume {
        grid-column: 1/4;
    }

    &__sewing {
        grid-column: 2/3;
    }

    &__cooperation {
        grid-column: 1/4;
        overflow: hidden;
    }
}

// Кнопка перехода на другие страницы
.pass {
    width: 398px;
    height: 124px;
    background: #FBFBFB;
    border: 0.7px solid rgba(217, 217, 217, 1);
    border-radius: 87px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 46px;
    padding-right: 33px;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        background: #BB3024;
        border: 0;

        P {
            color: #fff;
        }
    }

    button {
        width: 76px;
        height: 76px;
        background: #BB3024;
        border: 1px solid #BB3024;
        border-radius: 87px;
        cursor: pointer;

        .btn__line {
            background-color: #FFFFFF;
            width: 25.29px;
            height: 1px;
            margin: 0 auto;


            &_position-one {
                transform: rotate(45deg);
                margin-bottom: 16.3px;
            }

            &_position-two {
                transform: rotate(-45deg);
                margin-top: 16.3px;
            }

        }
    }
}

// Стили для секции - презентация бутика
.present {
    margin: 20px 0px 0px 0px;

    &__slider {
        max-width: 508px;
        width: 100%;
        margin: auto;
    }

    &__image-one {
        max-width: 420px;
        width: 100%;
        height: auto;
    }

    &__image-two,
    &__image-three,
    &__image-four {
        max-width: 205px;
        width: 100%;
        height: auto;
    }

    &__info {
        max-width: 508px;
        width: 100%;
        margin: auto;

        h1 {
            font-weight: 250;
            @include fluidFont(36px, 55px, 43.2px, 77px, 1085px, 1920px, 36px);
            text-transform: uppercase;
            padding: 25px 10px 17px 20px;
        }

        h3 {
            font-weight: 400;
            @include fluidFont(20px, 20px, 24px, 28px, 428px, 1085px, 20px);
            color: #BB3024;
            padding: 0px 10px 29px 20px;
        }

        &-pass {
            display: none;
        }
    }

    &__location {
        display: flex;
        text-decoration: none;
        column-gap: 24px;
        align-items: center;
        padding: 0px 10px 25px 20px;

        p {
            @include fontz(700, 16px, 22.4px);
        }
    }

    &__map {
        margin: auto;
        max-width: 508px;
        width: 100%;
        max-height: 196px;
        height: 100%;
        overflow: hidden;

        &:hover {
            cursor: grab;
        }

        a {
            display: block;
        }
    }

    &__dot:last-child {
        display: none;
    }

    .slider {
        &__line {
            column-gap: 18px;
            max-height: 248px;
            height: auto;
            align-items: center;
        }

        &__wrapper {
            padding: 22px 0px 0px 20px;
        }
    }
}

// Стили для секции - каталог
.catalog {

    &__general {
        max-width: 508px;
        width: 100%;
        margin: auto;
        padding-top: calc(26px + (106 - 26) * ((100vw - 420px) / (1920 - 420)));
        padding-bottom: calc(35px + (40 - 35) * ((100vw - 420px) / (1920 - 420)));

        h2 {
            font-weight: 250;
            @include fluidFont(36px, 55px, 50.4px, 77px, 1085px, 1920px, 36px);
            text-transform: uppercase;
        }

        a {
            @include fontz(400, 14px, 19.6px);
            text-transform: uppercase;
            color: #BB3024;
            width: 98px;
            text-decoration: none;
            border-bottom: 1px solid #BB3024;
            text-align: center;
        }

        &-mens {
            position: relative;
            padding-left: 15%;
            width: 100%;

            h2 {
                position: absolute;
                top: 45px;
                left: calc(20px + (42 - 20) * ((100vw - 450px) / (1920 - 450)));
            }

            a {
                position: absolute;
                top: 116px;
                left: calc(20px + (42 - 20) * ((100vw - 450px) / (1920 - 450)));
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        &-womens {
            position: relative;
            padding-right: 15%;
            width: 100%;

            h2 {
                position: absolute;
                top: 45px;
                right: calc(20px + (42 - 20) * ((100vw - 450px) / (1920 - 450)));
            }

            a {
                position: absolute;
                top: 116px;
                right: calc(15px + (42 - 15) * ((100vw - 450px) / (1920 - 450)));
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        .wrapper-img__general {
            max-width: 650px;
            width: 100%;
        }
    }
}

// Стили для секции - каталог брендов
.catalog-brands {
    &__wrp {
        margin: auto;
    }

    &__title {
        @include fontz(250, 36px, 50.4px);
        text-transform: uppercase;
        grid-column: 2/3;
        margin-bottom: 34px;
        max-width: 508px;
        width: 100%;
        margin: auto;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
        column-gap: 3px;
        justify-content: center;
        overflow: hidden;


        &-one {
            position: relative;
            min-width: 508px;

            .wrapper-img__brands-title {
                position: absolute;
                top: 110px;
                left: 126px;
                padding-top: 70px / 260px * 100%;
                max-width: 260px;
            }

            a {
                position: absolute;
                top: 198px;
                left: 217px;
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        &-two {
            position: relative;
            min-width: 508px;

            .wrapper-img__brands-title {
                position: absolute;
                top: 88px;
                left: 131px;
                padding-top: 142px / 245px * 100%;
                max-width: 245px;
            }

            a {
                position: absolute;
                top: 198px;
                left: 217px;
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        &-three {
            position: relative;
            min-width: 508px;

            .wrapper-img__brands-title {
                position: absolute;
                top: 76px;
                left: 154px;
                padding-top: 115px / 200px * 100%;
                max-width: 200px;
            }

            a {
                position: absolute;
                top: 198px;
                left: 217px;
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        &-four {
            position: relative;
            min-width: 508px;

            .wrapper-img__brands-title {
                position: absolute;
                top: 78px;
                left: 113px;
                padding-top: 126px / 282px * 100%;
                max-width: 282px;
            }

            a {
                position: absolute;
                top: 217px;
                left: 209px;
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        &-five {
            position: relative;
            min-width: 508px;

            .wrapper-img__brands-title {
                position: absolute;
                top: 116px;
                left: 135px;
                padding-top: 104px / 245px * 100%;
                max-width: 245px;
            }

            a {
                position: absolute;
                top: 217px;
                left: 209px;
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        &-six {
            position: relative;
            min-width: 508px;

            .wrapper-img__brands-title {
                position: absolute;
                top: 119px;
                left: 79px;
                padding-top: 93px / 350px * 100%;
                max-width: 350px;
            }

            a {
                position: absolute;
                top: 217px;
                left: 209px;
            }

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        a {
            @include fontz(400, 14px, 140%);
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: none;
            width: 98px;
            border-bottom: 1px solid #FFFFFF;
            text-align: center;
        }
    }

    &__btn {
        width: 100%;
        text-align: center;
        padding: 57px 0px 75px 0px;

        button {
            max-width: 337px;
            width: 100%;
            height: 85px;
            background-color: #FBFBFB;
            border: 0.7px solid #D9D9D9;
            border-radius: 87px;
            @include fontz(500, 14px, 140%);
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                border: 0.7px solid #7e7979;
                color: #BB3024;
            }
        }
    }
}

// Секция - сертификаты
.certification {
    display: grid;
    grid-template-columns: minmax(auto, 380px);
    grid-template-rows: minmax(auto, 1fr) minmax(auto, 48px) minmax(auto, 76px);
    max-height: 691px;
    margin: 0 auto;
    margin-bottom: 40px;

    .wrapper-img__certification {
        z-index: -1;
        grid-area: 1/1/3/2;
    }

    &__info {
        grid-area: 1/1/2/2;
        display: flex;
        flex-direction: column;
        max-width: 348px;
        width: 100%;
        margin: 0 auto;
        padding: 34px 5px 15px 5px;
        text-align: center;

        p:first-child {
            font-weight: 250;
            @include fluidFont(24px, 35px, 33.6px, 49px, 428px, 1920px, 24px);
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;

            span {
                display: none;
            }
        }

        h3 {
            font-weight: 500;
            @include fluidFont(24px, 35px, 33.6px, 49px, 428px, 1920px, 24px);
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;
            margin-bottom: 20px;

        }

        p:last-child {
            @include fontz(300, 20px, 28px);
            color: rgba(255, 255, 255, 1);
            width: 100%;
        }

    }

    &__pass {
        @include fontz(500, 16px, 22.4px);
        grid-area: 2/1/4/2;
        max-width: 380px;
        width: 100%;

        p {
            max-width: 104px;
            width: 100%;
        }
    }
}

// Секция - коллекция
.collection {
    margin: auto;
    margin-bottom: calc(62px + (100 - 62) * ((100vw - 350px) / (1570 - 350)));
    max-width: 420px;
    width: 100%;

    &__header {
        width: 100%;
        margin-bottom: 27px;

        h2 {
            font-family: 'Montserrat';
            font-weight: 300;
            @include fluidFont(36px, 55px, 43.2px, 77px, 1085px, 1920px, 36px);
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__item {
        max-width: 420px;
        width: 100%;
        height: auto;

        &-name {
            font-family: 'Montserrat';
            @include fontz(500, 16px, 22.4px);
            display: block;
            margin-top: 50px;
            text-decoration: none;
            text-align: center;

            &_bold {
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }

    &__link {

        a {
            display: block;
            font-family: 'Montserrat';
            font-weight: 500;
            @include fluidFont(16px, 14px, 19.2px, 19.6px, 428px, 1920px, 14px);
            text-transform: uppercase;
            color: #BB3024;
            width: 230px;
            text-decoration: none;
            text-align: center;
            border-bottom: 1px solid #BB3024;
            padding: 51px 0px 14px 0px;
            margin: auto;
        }
    }

    .slider__wrapper {
        padding-top: 46px;
        justify-content: center;
    }
}

// Секция - наши покупатели
.shoppers {
    max-width: 420px;
    width: 100%;
    margin: auto;
    margin-bottom: 62px;

    &__title {
        margin-bottom: 40px;

        h3 {
            font-family: 'Montserrat';
            font-weight: 300;
            @include fluidFont(36px, 55px, 43.2px, 77px, 1085px, 1920px, 36px);
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__item {
        position: relative;
        max-width: 420px;
        width: 100%;
        height: auto;
    }

    &__info {
        @include fontz(500, 16px, 22.4px);
        max-width: 277px;
        width: 100%;
        height: 151px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        border-radius: 0px 50px 0px 0px;
        padding: 29.5px 20.7px 29.5px 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            @include fontz(700, 20px, 28px);
        }
    }

    .slider__wrapper {
        padding-top: 46px;
        justify-content: center;
    }
}


// Секция - парфюм
.perfume {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__item {
        flex: 0 1 50%;
        position: relative;
        max-width: 601px;
        width: 100%;

        button {
            max-width: 181px;
            width: 100%;
            height: 64px;
            background-color: transparent;
            border-radius: 87px;
            font-family: 'Montserrat';
            @include fontz(500, 16px, 19.2px);
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    &__pass-perfume {
        position: absolute;
        top: 9%;
        right: 12%;
        color: #fff;
        border: 0.7px solid #fff;

        &:hover {
            color: #333333;
            border: 0.7px solid #333333;
        }
    }

    &__pass-topsmell {
        position: absolute;
        top: 9%;
        left: 11%;
        color: #333333;
        border: 0.7px solid #333333;

        &:hover {
            color: #fff;
            border: 0.7px solid #fff;
        }
    }

    &__info-left,
    &__info-right {
        position: absolute;
        bottom: 9.5%;
        max-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        h4 {
            font-family: 'Montserrat';
            font-weight: 300;
            @include fluidFont(24px, 35px, 28.8px, 42px, 428px, 1920px, 24px);
            color: #fff;
        }

        a {
            font-family: 'Montserrat';
            @include fontz(500, 16px, 19.2px);
            text-transform: uppercase;
            color: #fff;
            height: 33px;
            width: 147px;
            text-decoration: none;
            border-bottom: 1px solid #fff;
            text-align: center;
        }
    }

    &__info-left {
        right: 12%;
        align-items: flex-end;

        h4 {
            text-align: end;
        }
    }

    &__info-right {
        left: 12%;
        align-items: flex-start;

        h4 {
            text-align: start;
        }
    }

}

// Секция - пошив
.sewing {
    display: flex;
    flex-direction: column;
    max-width: 601px;
    min-width: 280px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 41px;

    &__info {
        padding-top: 19px;
    }

    &__title {
        font-weight: 250;
        @include fluidFont(36px, 55px, 50.4px, 77px, 428px, 1920px, 36px);
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 25px;

        &_red {
            color: #BB3024;
        }
    }

    &__text {
        font-weight: 400;
        @include fluidFont(15px, 20px, 21px, 28px, 428px, 1920px, 15px);
        padding-bottom: 15px;
        min-width: 270px;
        width: 100%;

        &_bold {
            font-weight: 500;
        }
    }

    .wrapper-img__sewing {
        max-width: 601px;
        width: 100%;
    }

    &__benefits {
        display: flex;
        flex-direction: column;
        @include fontz(300, 14px, 19.6px);
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px 0px 47px 0px;
        row-gap: 25px;
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 23px;

        &_bold {
            font-weight: 500;
        }

        div {
            flex: 0 0 40%;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__item:nth-child(1) {
        width: 100%;

        p {
            max-width: 150px;
            width: 100%;
        }
    }

    &__item:nth-child(2) {
        width: 100%;

        p {
            max-width: 163px;
            width: 100%;
        }
    }

    &__item:nth-child(3) {
        width: 100%;

        p {
            max-width: 213px;
            width: 100%;
        }
    }

    &__icon {
        max-height: 85px;
        height: 100%;

        &_small {
            max-height: 75px;
            height: 100%;
        }
    }

    &__pass {
        max-width: 384px;
        min-width: 270px;
        width: 100%;
        margin: 0 auto;
        font-weight: 500;
        @include fluidFont(16px, 14px, 22.4px, 19.6px, 428px, 1920px, 14px);
    }
}

// Секция - сотрудничество
.cooperation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.7px solid #D9D9D9;
    background-color: #FBFBFB;

    &__info {
        padding: 55px 20px 43px 20px;
        max-width: 601px;
        width: 100%;
    }

    &__title {
        font-weight: 250;
        @include fluidFont(24px, 35px, 33.6px, 49px, 428px, 1920px, 24px);
        text-transform: uppercase;
        padding-bottom: 23px;
        text-align: center;

        &_bold {
            font-weight: 500;
        }
    }

    &__subtitle {
        color: #BB3024;
        @include fontz(300, 20px, 28px);
        padding-bottom: 41px;
        text-align: center;

        &_bold {
            color: #BB3024;
            font-weight: 500;
        }
    }

    &__list {
        display: flex;
        row-gap: 24px;
        @include fontz(400, 16px, 22.4px);
        flex-direction: column;
        align-items: center;
    }

    &__item {
        display: flex;
        column-gap: 14px;
        max-width: 390px;
        width: 100%;

        img {
            max-width: 39px;
            width: 100%;
            align-self: flex-start;
        }

        p {
            align-self: center;
        }
    }

    &__pass {
        @include fontz(500, 16px, 22.4px);
        max-width: 380px;
        min-width: 270px;
        width: 90%;
    }

    &__img {
        margin: -62px 0px 0px 0px;
        width: 100%;
        max-height: 551px;
        display: flex;
        justify-content: center;
    }

}

// Стили для адаптивных изображений
.wrapper-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__present-one {
        padding-top: 248px / 420px * 100%;
        max-width: 420px;
    }

    &__present-two,
    &__present-three,
    &__present-four {
        padding-top: 248px / 205px * 100%;
        max-width: 205px;
    }

    &__general {
        padding-top: 628px / 650px * 100%;
        max-width: 650px;
        z-index: -1;
    }

    &__brands {
        padding-top: 348px / 508px * 100%;
        max-width: 508px;
    }

    &__certification {
        padding-top: 615px / 380px * 100%;
        max-width: 380px;
    }

    &__collection {
        padding-top: 534px / 420px * 100%;
        max-width: 420px;
        display: block;
    }

    &__shoppers {
        padding-top: 534px / 420px * 100%;
        max-width: 420px;
    }

    &__perfume {
        padding-top: 805px / 960px * 100%;
        max-width: 960px;
    }

    &__sewing {
        padding-top: 763px / 1213px * 100%;
        max-width: 1213px;
    }

    &__cooperation {
        padding-top: 481px / 434px * 100%;
        max-width: 434px;
    }
}

// Футер
.footer {
    border-top: 0.5px solid #D9D9D9;
    grid-area: footer;
    grid-column: 2/3;

    &__logo {
        display: block;
        padding: 32px 0px 18px 0px;
        text-align: center;
    }

    &__list {
        display: none;
    }

    &__communication {
        text-align: center;
    }

    &__location {

        &-img {
            padding-bottom: 11px;
        }

        &-text {
            width: 100%;
            @include fontz(400, 14px, 19.6px);

            button {
                display: block;
                color: #BB3024;
                @include fontz(300, 11px, 15.4px);
                border-bottom: 1px solid #BB3024;
                background: none;
                padding: 10px 0px 0px 0px;
                cursor: pointer;
                margin: 0 auto;

                &:hover {
                    @include fontz(300, 15px, 15.4px);
                }
            }
        }
    }

    &__contacts {
        padding: 28px 0px 38px 0px;

        &-link {
            cursor: pointer;
            width: 32px;
            height: 32px;
            margin-right: 13px;
            fill: #BB3024;
        }

        a {
            text-decoration: none;
            opacity: 1;
        }

        a:nth-child(1) {
            svg:hover {
                fill: #3b5998;
            }
        }

        a:nth-child(2) {
            svg:hover {
                fill: #E4405F;
            }
        }

        a:nth-child(3) {
            svg:hover {
                fill: #08c;
            }
        }

        &-number {
            @include fontz(500, 14px, 14px);
            margin-top: 10px;
        }

        &-text {
            @include fontz(300, 12px, 12px);
            margin-top: 5px;

            &_bold {
                @include fontz(500, 12px, 12px);
            }
        }
    }
}

// Стили для слайдера
.slider {
    position: relative;
    overflow: hidden;

    &__touch {
        width: 100%;
        cursor: grab;

        &:active {
            cursor: ew-resize;
        }
    }

    &__line {
        position: relative;
        display: flex;
        transition: all ease 1s;
        left: 0;
    }

    &__btn-prew,
    &__btn-next {
        position: absolute;
        width: 30%;
        height: 100%;
        background-color: transparent;
        cursor: pointer;
    }

    &__btn-prew {
        top: 0;
        left: 0;
    }

    &__btn-next {
        top: 0;
        right: 0;
    }

    &__wrapper {
        display: flex;
        column-gap: 15px;
    }

    &__dot {
        width: 10px;
        height: 10px;
        background-color: #D9D9D9;
        border-radius: 50%;
    }

    &__dot:hover {
        background-color: #BB3024;
        cursor: pointer;
    }

    .active__dot {
        background-color: #BB3024;
    }

}

.modal {
    max-width: 1000px;
    width: 100%;
    height: 600px;
    padding: 0;
    border: 3px solid #292929;
    border-radius: 50px;
    overflow: hidden;

    &::backdrop {
        background-color: #292929;
        opacity: 0.6;
        cursor: pointer;
    }
}

.scroll-lock {
    overflow: hidden;
}

.background {
    display: none;
    background-color: #292929;
    opacity: 0.6;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

// ------------------------------------------------
// МЕДИА-ЗАПРОСЫ

@media screen and (max-width: 415px) {
    .burger {
        &-nav__info {
            flex-direction: column;
            row-gap: 24px;
        }
    }
}

@media screen and (min-width: 830px) {

    .content {
        &__catalog-brands {
            grid-column: 1/4;
        }

        &__certification {
            grid-column: 1/4;
        }
    }

    .certification {
        max-height: 478px;
        margin-bottom: 50px;
        grid-template-columns: minmax(auto, 1920px);
        grid-template-rows: minmax(auto, 354px) minmax(auto, 62px) minmax(auto, 62px);

        .wrapper-img__certification {

            padding-top: 416px / 1920px * 100%;
            max-width: 1920px;
            height: 416px;

            img {
                height: 100%;
            }
        }

        &__info {
            margin-left: 51%;
            text-align: left;
            max-width: calc(348px + (750 - 348) * ((100vw - 830px) / (1920 - 830)));
        }

        &__pass {
            margin-left: 51%;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 51px 0px 51px;
        max-height: 774px;

        &__communication {
            display: flex;
            text-align: start;
            padding-left: 26px;
            column-gap: 30px;
        }

        &__location {
            display: flex;
            column-gap: 24px;
            padding: 20px 0px 0px 0px;
            align-items: flex-start;

            &-img {
                padding-top: 19px;
            }

            &-text {
                max-width: 286px;

                br {
                    display: none;
                }

                button {
                    margin: 0;
                }
            }
        }

        &__contacts {
            padding-top: 13px;
        }
    }
}

@media screen and (min-width: 1024px) {

    main {
        border-left: 0.5px solid #D9D9D9;
        border-right: 0.5px solid #D9D9D9;
    }

    .wrapper {
        grid-template-columns: minmax(20px, 1fr) minmax(240px, 1920px) minmax(20px, 1fr);
    }

    .header {
        grid-template-columns: minmax(20px, 1fr) minmax(240px, 1920px) minmax(20px, 1fr);

        &__body {
            border-left: 0.5px solid #D9D9D9;
            border-right: 0.5px solid #D9D9D9;
        }

        .burger {
            &-nav {
                grid-template-columns: minmax(20px, 1fr) minmax(240px, 1280px) minmax(20px, 1fr);

                a,
                .burger-nav__info {
                    grid-column: 2/3;
                    border-left: 0.5px solid #D9D9D9;
                    border-right: 0.5px solid #D9D9D9;
                }
            }
        }
    }

    .footer {
        border-left: 0.5px solid #D9D9D9;
        border-right: 0.5px solid #D9D9D9;
    }

}

@media screen and (min-width: 1085px) {

    .content {
        &__catalog-links {
            grid-column: 2;
        }
    }

    .present {
        &__slider {
            max-width: fit-content;
        }

        &__dot:nth-child(3) {
            display: none;
        }
    }

    .catalog {
        &__general {
            max-width: 1530px;
            display: flex;

            h2 {
                top: 93px;
            }

            a {
                top: 185px;
            }

            &-mens {
                padding-left: 115px;
            }

            &-womens {
                padding-right: 115px;
            }
        }
    }

    .catalog-brands {
        &__title {
            display: none;
        }
    }

}

@media screen and (min-width: 1155px) {

    .present {
        &__dot {
            display: none;
        }

        .slider__touch {
            display: flex;
            justify-content: center;
            cursor: auto;
        }
    }
}

@media screen and (min-width: 1280px) {

    .wrapper {
        grid-template-rows: 103px 1fr 135px;
    }

    .header {
        grid-template: 103px / minmax(20px, 1fr) minmax(240px, 1920px) minmax(20px, 1fr);

        &__body {
            height: 103px;
            display: grid;
            grid-template: 100% / minmax(280px, 424px) 913px 1fr;
        }

        &__logo {
            padding: 0 51px 15px 24px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            img {
                max-width: 178px;
            }
        }

        &__menu {
            display: block;
            @include fontz (400, 12px, 16.8px);
            text-transform: uppercase;
            margin-right: 30px;
        }

        &__list {
            height: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-template: 1fr / 160px 183px 215px 167px 157.5px;
            align-items: center;
        }

        &__item {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 45px;
            padding-right: 45px;
        }

        &__item:nth-child(-n + 4) {
            border-right: 0.5px solid #D9D9D9;
        }

        &__link {
            text-decoration: none;
        }
    }

    .burger {
        display: none;
    }

    .certification {
        &__info {
            p:first-child {
                span {
                    display: inline;
                    color: inherit;
                }
            }
        }
    }

    .collection {
        max-width: 1530px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 765px));
        grid-template-rows: minmax(auto, 77px) minmax(auto, 650px);
        row-gap: 47px;
        align-items: center;

        &__header {
            grid-area: 1/1/2/2;
            align-self: center;
            margin: 0;

            h2 {
                font-style: 'Muller';
                font-weight: 250;
                text-align: left;
            }
        }

        &__slider {
            grid-area: 2/1/3/3;
        }

        &__link {
            grid-area: 1/2/2/3;
            width: 100%;

            a {
                font-weight: 400;
                padding: 0px 0px 7px 0px;
                width: 168px;
                margin-right: 0;
            }
        }
    }

    .slider__touch {
        cursor: auto;
    }

    .shoppers {
        max-width: 1530px;
        width: 100%;
        margin-bottom: 81px;

        &__title {
            h3 {
                font-style: 'Muller';
                font-weight: 250;
            }
        }

        &__slider {
            max-height: 508px;
            margin: auto;
            max-width: 1140px;
            width: 100%;
        }

        &__item {
            max-width: 360px;
        }

    }

    .slider {

        &__btn-prew,
        &__btn-next,
        &__dot {
            display: none;
        }

        &__line {
            max-width: 100%;
            column-gap: 30px;
        }
    }

    .wrapper-img {
        &__shoppers {
            padding-top: 508px / 360px * 100%;
            max-width: 360px;
        }
    }

    .perfume {
        flex-direction: row;

        &__item {
            max-width: 960px;
        }

        &__info-left,
        &__info-right {
            max-width: 391px;
            row-gap: 40px;
        }
    }

    .content__sewing {
        grid-column: 1/4;
    }

    .sewing {
        display: grid;
        grid-template-rows: minmax(auto, 27px) minmax(auto, 640px) minmax(auto, 96px) minmax(auto, 96px);
        grid-template-columns: minmax(auto, 303px) minmax(auto, 356px) minmax(auto, 387px) minmax(auto, 384px) 1fr;
        max-width: 1530px;
        position: relative;
        margin-bottom: 100px;

        &__info {
            grid-area: 2/1/4/6;
            background-color: #FBFBFB;
            border-top: 0.7px solid #D9D9D9;
            border-bottom: 0.7px solid #D9D9D9;
            z-index: -1;
            padding: 93px 0px 0px 50px;
        }

        &__title {
            max-width: 450px;
            margin-bottom: 15px;
        }

        &__text {
            max-width: 350px;
        }

        .wrapper-img__sewing {
            max-width: 790px;
            position: absolute;
            top: 0;
            right: 0;
        }

        &__benefits {
            grid-area: 3/1/5/5;
            background-color: #fff;
            flex-direction: row;
            z-index: 2;
        }

        &__list {
            flex-direction: row;
            padding: 0px 0px 0px 0px;
            row-gap: 0px;
            max-width: 1046px;
            width: 100%;
            border-top: 0.5px solid #D9D9D9;
            border-bottom: 0.5px solid #D9D9D9;
        }

        &__item {
            height: 100%;
            justify-content: center;

            div {
                flex: 0 0 auto;
            }
        }

        &__item:nth-child(1) {
            max-width: 303px;
            border-right: 0.5px solid #D9D9D9;
        }

        &__item:nth-child(2) {
            max-width: 356px;
            border-right: 0.5px solid #D9D9D9;
        }

        &__item:nth-child(3) {
            max-width: 387px;
        }

        &__pass {
            height: 100%;
            background-color: #BB3024;
            column-gap: 35px;
            justify-content: center;
            color: #fff;
            border-radius: 0;
            border: 0;

            button {
                background-color: #fff;

                .btn__line {
                    background-color: #BB3024;
                }


            }

            &:hover {
                background-color: #fff;
                color: #BB3024;
                border: 2px solid #BB3024;

                button {
                    background-color: #BB3024;

                    .btn__line {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .cooperation {
        position: relative;
        height: 990px;
        max-width: 1920px;
        width: 100%;
        display: grid;
        grid-template: minmax(auto, 47px) minmax(auto, 222px) minmax(auto, 443px) minmax(auto, 62px) minmax(auto, 62px) minmax(auto, 154px) / 1fr 250px minmax(auto, 523px) minmax(auto, 398px) minmax(auto, 89px) 1fr;
        border-top: 0;
        padding: 0;
        margin: auto;

        &__info {
            grid-area: 2/3/5/7;
            border: 0.7px solid #D9D9D9;
            background-color: #fff;
            padding: 88px 34px 142px 50px;
            max-width: 1010px;
        }

        &__title {
            text-align: start;
            padding-bottom: 17px;
        }

        &__subtitle {
            text-align: start;
            padding-bottom: 34px;
        }

        &__list {
            display: flex;
            column-gap: 30px;
            row-gap: 19px;
            align-items: flex-start;
            flex-wrap: wrap;
            max-height: 320px;
            height: 100%;
            width: 100%;
        }

        &__item {
            column-gap: 37px;
        }

        &__pass {
            grid-area: 4/4/6/5;
            max-width: 398px;
            width: 100%;
        }

        &__img {
            position: absolute;
            max-width: 610px;
            width: 100%;
            height: 470px;
            bottom: 0;
            left: 0;

        }
    }

    .wrapper-img {
        &__cooperation {
            padding-top: 550px / 601px * 100%;
            max-width: 601px;
        }
    }

}

@media screen and (min-width: 1430px) {

    .collection {
        .slider__line {
            column-gap: 135px;
        }
    }

    .sewing {
        &__title {
            max-width: 600px;
        }

        &__text {
            max-width: 496px;
        }
    }
}

@media screen and (min-width: 1490px) {

    .sewing {
        .wrapper-img__sewing {
            max-width: 865px;
        }
    }

    .cooperation {
        grid-template-columns: 1fr 520px minmax(auto, 523px) minmax(auto, 398px) minmax(auto, 89px) 1fr;

        &__img {
            max-width: 865px;
            max-height: 723px;
            height: 100%;
            left: calc(0px + (195 - 0) * ((100vw - 1490px) / (1920 - 1490)));
            bottom: 0;
        }

        .wrapper-img__cooperation {
            padding-top: 723px / 865px * 100%;
            max-width: 865px;
        }
    }
}

@media screen and (min-width: 1570px) {

    .present {
        margin: 0;
        grid-column: 2/4;
        display: grid;
        grid-template-columns: minmax(auto, 520px) minmax(auto, 1205px);
        grid-template-rows: minmax(auto, 714px) minmax(auto, 196px);

        &__slider {
            grid-area: 1/2/3/3;
        }

        &__info {
            grid-area: 1/1/2/2;
            padding-left: calc(10px + (0 - 10) * ((100vw - 1570px) / (1630 - 1570)));

            h1,
            h3 {
                padding-left: 0;
            }

            &-pass {
                display: flex;
                @include fontz(500, 14px, 19.6px);

                p {
                    max-width: 165px;
                    width: 100%;
                }
            }
        }

        &__map {
            grid-area: 2/1/3/2;
            max-width: 520px;
        }

        &__location {
            display: none;
        }

        .slider {
            &__line {
                display: grid;
                grid-template-columns: 335px 335px 340px minmax(auto, 195px);
                grid-template-rows: 502px 212px 196px;
                column-gap: 0px;
                max-height: 910px;
            }

            &__touch {
                max-width: 1205px;
                width: 100%;
                max-height: 910px;
                height: 100%;
                display: flex;
                justify-content: start;
            }
        }

        &__image-one {
            grid-area: 1/1/3/5;
            max-width: 1205px;
        }

        &__image-two,
        &__image-three,
        &__image-four {
            max-width: 335px;
            display: grid;
            align-items: end;
            background-color: #fff;
            padding: 35px 30px 0 0;
        }

        &__image-two {
            grid-area: 2/1/4/2;
        }

        &__image-three {
            grid-area: 2/2/4/3;
        }

        &__image-four {
            grid-area: 2/3/4/4;
            position: relative;
            max-width: 340px;
            padding: 35px 35px 0 0;
        }
    }

    .collection {
        margin-bottom: 116px;
    }

    .shoppers {
        display: grid;
        grid-template-columns: minmax(auto, 360px) minmax(auto, 1140px);
        column-gap: 30px;

        &__title {
            grid-column: 1;
            width: 360px;
            align-self: center;

            h3 {
                text-align: left;
            }
        }

        &__slider {
            grid-column: 2;
        }
    }

    .sewing {
        &__info {
            padding: 93px 0px 0px 100px;
            border: 0.7px solid #D9D9D9;
        }

        &__list {
            border: 0.7px solid #D9D9D9;
            border-right: 0;
        }
    }

    .wrapper-img {
        &__present-one {
            padding-top: 715px / 1205px * 100%;
            max-width: 1205px;
            z-index: -1;
        }

        &__present-two,
        &__present-three,
        &__present-four {
            padding-top: 373px / 305px * 100%;
            max-width: 305px;
        }
    }
}

@media screen and (min-width: 1630px) {

    .header {
        &__body {
            grid-template-columns: 424px 725px minmax(auto, 388px) minmax(auto, 383px);
        }

        &__menu {
            margin-right: 0;
        }

        &__list {
            grid-template: 1fr / 160px 183px 215px 167px;

            li:nth-last-child(1) {
                display: none;
            }
        }

        &__item:nth-child(4) {
            border-right: 0;
        }

        &__location {
            grid-column: 3/4;
            display: grid;
            grid-auto-flow: column;
            column-gap: 27px;
            max-width: 344px;
            justify-self: end;
            padding-top: calc(8px + (20 - 8) * ((100vw - 1630px) / (1920 - 1630)));

            &-img {
                padding-top: 19px;
                padding-left: 10px;
            }

            &-text {
                max-width: 286px;
                @include fontz(400, 14px, 19.6px);
                padding-right: 10px;

                button {
                    color: #BB3024;
                    @include fontz(300, 11px, 15.4px);
                    border-bottom: 1px solid #BB3024;
                    background: none;
                    padding: 10px 0px 0px 0px;
                    cursor: pointer;

                    &:hover {
                        @include fontz(300, 15px, 15.4px);
                    }
                }
            }
        }

        &__contacts {
            display: block;
            grid-column: 4/5;
            padding-top: calc(12px + (25 - 12) * ((100vw - 1630px) / (1920 - 1630)));

            p:nth-child(1) {
                @include fontz(400, 14px, 14px);
                margin-bottom: 4px;
            }

            p:nth-child(2) {
                @include fontz(300, 12px, 12px);
                margin-bottom: 8px;
            }

            &-link {
                cursor: pointer;
                width: 32px;
                height: 32px;
                margin-right: 13px;
                fill: #BB3024;
            }

            a {
                text-decoration: none;
                opacity: 1;
            }

            a:nth-child(3) {
                svg:hover {
                    fill: #3b5998;
                }
            }

            a:nth-child(4) {
                svg:hover {
                    fill: #E4405F;
                }
            }

            a:nth-child(5) {
                svg:hover {
                    fill: #08c;
                }
            }
        }
    }

    .certification {
        &__info {
            max-width: 750px;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: minmax(51px, 1fr) 229px 681px minmax(525px, 620px) minmax(51px, 1fr);

        &__logo {
            padding: 32px 51px 0px 0px;
            grid-column: 2/3;
            border-right: 0.5px solid #D9D9D9;
        }

        &__list {
            @include fontz(400, 12px, 12px);
            text-transform: uppercase;
            height: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 189px 251px 241px;
        }

        &__item {
            height: 100%;
            border-right: 0.5px solid #D9D9D9;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 47px;
        }

        &__link {
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 1635px) {

    .present {
        // Бордер не на всю ширину/длину
        &__image-four {
            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                height: 373px;
                border-right: 0.5px solid #D9D9D9;
            }
        }
    }

    .catalog {
        &__general {
            border-right: 0.5px solid #D9D9D9;
            border-left: 0.5px solid #D9D9D9;
        }
    }
}

@media screen and (min-width: 1920px) {

    .header {
        &__location,
        &__contacts {
            padding-top: 20px;
        }
    }

    .catalog {
        &__general {
            padding: 106px 0px 40px 0px;
        }
    }

    .cooperation {
        &__img {
            left: 195px;
        }
    }
}
